<header class="header">
  <div class="logotype"><img src="img/logotype.svg" alt="Logotype"></div>

  <nav class="navigation">
    <ul>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="">Project</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Services</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Get in Touch</a></li>
    </ul>
  </nav>

  <section class="search">
    <form role="search" method="get" class="search-form" action="">
				<label>
					<input type="search" class="search-field" placeholder="Search">
				</label>
				<input type="submit" class="search-submit" value="Search">
			</form>
  </section>
</header>
<div class="line"></div>
